name: CI/CD

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: [self-hosted, linux, deploy]
    steps:
      - name: Deploy on host (use existing repo path)
        run: |
          cd ${{ secrets.SERVER_PATH }}
          git fetch
          git pull
          sudo docker compose up -d --build --remove-orphans
        shell: bash